@font-face{
  font-family: Head;
  src:url(../Fonts/Graph.otf);
}
*{
  /* margin: 0;
  padding: 0; */
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
   
}
body{
  /* margin: 0;
  padding: 0; */
  background-color: #000000;
}

.Display {
  height:auto;
  background-color: black;
  color: white;
  display: flex;
margin: 3px;

}
.mainBox{
  height: auto;
  width:100%;
  background-color: rgb(44, 43, 46);
  color: white;

  display: flex;
  margin: 3px;
  border-radius: 13px;
  background: linear-gradient(to left bottom, #383a38, #000000);
  background: linear-gradient(to right top, #383a38, #000000);
}

.searchNavBar{
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.searchCards{
border: none !important;

  
}
.searchCardsBody{
  padding: 0 !important;
}

.searchCardsImg{
  max-height:300px !important;
  max-width: 300px !important;
  margin: 0;
}
.page{
width: 100%;
}

.Sidebar {
  height: auto;
  padding: 0;
  width: 300px;
  background-color: rgb(41, 39, 39);
  background: linear-gradient(to left, #383a38, #000000);
  border-radius: 13px;
  margin: 2px;
  /* position: fixed;
  left: 0; */
  
}
.sideBarContent{
  margin-top: 1vh;
}


.Sidebar .sideBarRow .linkRow:hover {
  cursor: pointer;
  color: black ; 
  background-color: rgb(155, 155, 155);
}
.Sidebar #active {
  color: rgb(0, 0, 0) ;
  background-color: rgb(155, 155, 155);
}
.sideBarRow{
  justify-content: center;
}

.linkRow{
  width: 95%;
  height: 70px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-family: Head;
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
  color: white;
}
.linkRow #active{
  color: rgb(0, 0, 0) ;
  background-color: rgb(155, 155, 155);
}
.sideBarRow #icon {
  display: grid;
 flex:20%;
 justify-content: right;
 margin: 5%;
}

.sideBarRow #title {
  justify-content: center;
  flex:50%
  
}

.Home-PG{
  color: white;
  /* width: 100%; */
  /* display: flex; */
}
.Home-PG h1 {
  font-family:head;
  font-size:x-large;
  border-bottom: 1px solid white;
  /* width: 96%; */
  margin: 1%;
  padding: 1px;
  height: 8vh;
 margin-left: 2%;
}
.playlist-PG{
  color: rgb(255, 255, 255);
}
.card{
  display: flex;
  
}
.SearchPage{
  width: 100%;
  height: 100%;
  background: linear-gradient(to  top, #3e0606, #000000) !important;
  border-radius: 13px;
}
.searchBar {
  border-color: black !important;
  background:  linear-gradient(to  top, #450202, #000000) !important;
  font-family: Head;
  color: white !important;
}
.searchBar::placeholder{
  color: white !important;
}
.searchBtn{
  font-family: Head !important;
 border: #000000 !important;
 background: #0d3415 !important;
 background:  linear-gradient(to  top, #1c4e1c, #000000) !important;
}



