@font-face{
  font-family: Head;
  src:url(../Fonts/Graph.otf);
}
*{
  margin: 0;
  padding: 0;
}
.App{
  width: 100vw;
  height: 100vh;
   
}
body{
  margin: 0;
  padding: 0;
}
.Display {
  height: 100%;
  width:100%;
  background-color: black;
  color: white;
  border: 1px black solid;
  display: flex;

  background: linear-gradient(to top,rgb(0, 0, 0),rgb(0, 11, 85));
}
.Sidebar {
  height: auto;
  padding: 0;
  width: 300px;
  background-color: rgb(41, 39, 39);
  background: linear-gradient(to right, #383a38, #000000);
  border-radius: 10px;

}

.Sidebar .row {
  width: 95%;
  height: 70px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-family: cursive; */
  font-family: Head;
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
  margin-left: 2%;

 
}
.Sidebar .row:hover {
  cursor: pointer;
  color: black ; 
  background-color: rgb(155, 155, 155);
}
.Sidebar #active {
  color: rgb(0, 0, 0) ;
  background-color: rgb(155, 155, 155);
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items:center;
  
  text-decoration: none;
}

.row #title {
  flex: 70%;
  
 

}
.Content{
 width: 100%;
  padding: 10px;
}
.Home-PG{
   color: white;

  
}
.Home-PG h1 {
  font-family:head;
}
.playlist-PG{
  color: rgb(255, 255, 255);
}

/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
