@font-face{
  font-family: Head;
  src:url(../Fonts/Graph.otf);
}
*{
  margin: 0;
  padding: 0;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
   
}
body{
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.Display {
  height:auto;
  background-color: black;
  color: white;
  display: flex;
margin: 3px;

}
.mainBox{
  height: auto;
  width:100%;
  background-color: rgb(44, 43, 46);
  color: white;

  display: flex;
  margin: 3px;
  border-radius: 13px;
  background: linear-gradient(to left bottom, #383a38, #000000);
  background: linear-gradient(to right top, #383a38, #000000);
}
.navBar{
  width: 100%;
  display: flex;
  height: 7vh;
  position: fixed;
  top:0;
  /* background-color: #000000; */
  justify-content: center;
}
.navBarContent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
display: flex;
width: 100%;
height: auto;
margin-top: 7vh;
}
.sideBarBox{
 height: auto;
}
.Sidebar {
  height: auto;
  padding: 0;
  width: 300px;
  background-color: rgb(41, 39, 39);
  background: linear-gradient(to left, #383a38, #000000);
  border-radius: 13px;
  margin: 2px;
  /* position: fixed;
  left: 0; */
  
}
.sideBarContent{
  margin-top: 1vh;
}


.Sidebar .row .linkRow:hover {
  cursor: pointer;
  color: black ; 
  background-color: rgb(155, 155, 155);
}
.Sidebar #active {
  color: rgb(0, 0, 0) ;
  background-color: rgb(155, 155, 155);
}
.row{
  justify-content: center;
}

.linkRow{
  width: 95%;
  height: 70px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-family: Head;
  border-radius: 10px;
  padding: 1px;
  margin: 1px;
  color: white;
}
.linkRow #active{
  color: rgb(0, 0, 0) ;
  background-color: rgb(155, 155, 155);
}
.row #icon {
  display: grid;
 flex:20%;
 justify-content: right;
 margin: 5%;
}

.row #title {
  justify-content: center;
  flex:50%
  
}
.Content{
 width: 100%;
  padding: 10px;
}
.Home-PG{
  color: white;
width: 100%;
  
}
.Home-PG h1 {
  font-family:head;
  font-size:x-large;
  border-bottom: 1px solid white;
  width: 96%;
  margin: 1%;
  padding: 1px;
  height: 8vh;
 margin-left: 2%;
}
.playlist-PG{
  color: rgb(255, 255, 255);
}

/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
